$primary-color: #39A2DB;
$secondary-color: #A2DBFA;
$tertiary-color: #053742;

$light-color: #fff;
$dark-color: #000;

// DESKTOP CERTER WIDTH
$center-width-desktop: 80%;

// TABLET CENTER WIDTH
$center-width-sm: 96%;