* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  width: 100% !important;
}

header .nav-content {
  width: 80%;
  margin: 0 auto;
}

.nav-content a + div span {
  position: relative;
  transition: all 1s;
  margin: 0 1rem;
}

.nav-content a + div span:hover {
  color: #000;
  bottom: 0.2rem;
}

main {
  position: relative;
  display: flex;
  height: 100%;
}

main .left-pane {
  color: #fff;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 0px;
  transition: width 0.5s;
  background: #053742;
}

main .left-pane span {
  position: absolute;
  font-size: 2rem;
  display: none;
  color: #fff;
}

main .left-pane .topic-container {
  width: 100%;
  margin: 3.8em 0 0;
}

.topic-container ul {
  display: none;
  padding: 0;
  list-style-type: none;
}

.topic-container ul li {
  transition: all 0.5s;
  width: 100%;
  padding: 0.5rem 2.5rem;
}

.topic-container ul li:hover {
  background: #A2DBFA;
  color: #000;
}

.show-pane {
  display: block;
}

.hide-pane {
  display: none;
}

main .pane-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  font-size: 2rem;
  width: 70px;
  height: 70px;
  background: #39A2DB;
  text-align: center;
  border-radius: 100%;
  left: -2.5rem;
  top: 35%;
}

main .pane-btn i {
  position: absolute;
  right: 10px;
}

main .right-pane {
  z-index: -1;
  width: 100%;
  transition: opacity 0.5s;
}

main .right-pane .topic-wrapper {
  width: 80%;
}

#faq-container * {
  z-index: -1 !important;
  background: #000 !important;
}

.blur-pane {
  opacity: 0.5;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .nav-content {
    width: 96% !important;
  }
  .nav-content a {
    font-size: 0.8rem !important;
  }
  .nav-content div {
    display: none !important;
  }
  main .pane-btn {
    font-size: 1rem;
    height: 50px;
    width: 50px;
    left: -1.8rem;
  }
  .topic-container ul li {
    font-size: 0.8rem;
  }
  main .left-pane span {
    font-size: 1rem;
  }
  main .right-pane .topic-wrapper {
    width: 96% !important;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .nav-content {
    width: 96% !important;
  }
  .nav-content a {
    font-size: 0.8rem !important;
  }
  .nav-content a + div span {
    font-size: 0.8rem;
    margin: 0.5rem;
  }
  main .pane-btn {
    font-size: 1.5rem;
    height: 55px;
    width: 55px;
    left: -2rem;
  }
  main .right-pane .topic-wrapper {
    width: 96% !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .nav-content a {
    font-size: 0.8rem !important;
  }
  .nav-content a + div span {
    font-size: 0.8rem;
    margin: 0.5rem;
  }
  main .left-pane .left-pane-btn {
    left: calc(100% - 29px);
    font-size: 1.8rem;
    width: 55px;
    height: 55px;
  }
}